<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>13:30</td>  <td>Running and Quitting</td> </tr>
      <tr> <td>13:45</td>  <td>Variables and Assignment</td> </tr>
      <tr> <td>14:00</td>  <td>Data Types and Type Conversion</td> </tr>
      <tr> <td>14:15</td>  <td>Built-in Functions and Help</td> </tr>
      <tr> <td>14:30</td>  <td>Break</td> </tr>
      <tr> <td>14:40</td>  <td>Lists</td> </tr>
      <tr> <td>15:00</td>  <td>For Loops</td> </tr>
      <tr> <td>14:20</td>  <td>Reading Tabular Data Into DataFrames</td> </tr>
      <tr> <td>15:50</td>  <td>Wrap-up and END</td> </tr>
    </table>
  </div>
</div>
